<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/whitebox.jpg">

    <title>WhiteBoxUI</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
            <link type="text/css" rel="stylesheet" href="css/intro.css" >
</head>
<body>
    <div id="particles-js"></div>
    <div id="main">
        <nav class="navbar navbar-inverse navbar-static-top navbar-expand-lg navbar-light bg-light">      
            <a class="navbar-brand" href="/login">
                    Whitebox for AI based ML models
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="pos-f-t">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Let's get started!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="myCarousel"  class="carousel slide" data-ride="carousel" >

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100 ">
                            <div class="text-center" style="margin-top: 5%;">
                                <div style="color: white;">
                                    <div class="card" style="background-color: transparent; border-style: hidden; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                        <h2>What is this platform about?</h2>
                                        <div class="card-body">
                                            <div class="container" >
                                                <div style="text-align: justify;">
                                                    In the straightforward terms, this platform is a testing tool built on white box testing methodology to test machine learning models. 
                                                    From the three major layers: Input layer, Hidden layer and Output layer related to development of deep learning and machine learning models,
                                                    hidden layer remains hidden from the data scientist and developers during model creation, model training and testing phases most of the period.
                                                    As a result, they cannot achieve the maximum accuracy in model prediction and it keeps fluctuating.
                                                    <br/>
                                                    <br/>

                                                    <p>
                                                    This platform works as an online tool to penetrate through hidden layers of Artificial Intelligence based machine learning models.                                
                                                    User inputs pretrained and tested model as a file. This tool processes that file and fetches relavent data, model layers, and training accuracy as a primary model information.
                                                    While running the process, it generates the details from the possible depth of a given model and visualize in form of graphs.
                                                    The proposed solution includes visualizing neural networks’ traverse inside each model, displaying linkages between nodes, and showing detailed information of each neural network layer. 
                                                    The test and accuracy coverage matrix also can be displayed to support users track, control, and enhance applications’ quality.
                                                    </p>
                                                    
                                                    <br/>
                                                    <p>
                                                    The sole purpose behind this implementation is to bring out undiscovered information from the hidden layer which is the core of any model and eventually that information proves very 
                                                    helpful to user to gain highest level of data prediction. This prediction may lead to better AI systems within medical field, weather prediction, Object detection, defense ministry and many more.
                                                    Just think on it!!
                                                    </p>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="carousel-item">
                    <div class=" d-block w-100">
                        <div class="text-center" style="margin-top: 5%;">
                            <div style="color: white;">
                                <div class="card" style="background-color: transparent; border-style: hidden; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                    <h2>What have we implemented?</h2>
                                    <br/>
                                    <br/>
                                    <div class="container" >
                                        <img src="/images/architecrure.jpg" class="card-img-top" alt="architect">
                                        
                                    </div>
                                    <br/>
                                    <br/>
                                    Platform Architecture  
                                    <br/>
                                    <br/>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">

                <div class="d-block w-100">
                    <div class="text-center" style="margin-top: 5%;">
                        <div style="color: white;">
                            <div class="card" style="background-color: transparent; border-style: hidden; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                <h2>Future implementation</h2>
                                <div class="card-body">
                                    <div class="container" >
                                        <div style="text-align: justify;">
                                            We have covered models with feedback loop in this project. 
                                            However, since users can generate or
                                            develop their own model by themselves, adding a diverse testing model would be great further
                                            research. If we cover more diverse models, our AI testbed software can be used in any kind of AI
                                            projects.
                                            <br/>
                                            <br/>

                                            <p>
                                            If users or developers can get testing reports in real-time, it would be helpful for choosing
                                            the model and designing the model. The generating report is taking time since the test runner
                                            should collect all of the neurons and links information. Since AI training needs a lot of time, if the
                                            software reduces the time for collecting data, it would be helpful for all the developers or testers.
                                            </p>
                                            
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                    <div class="carousel-item">
                        <div class=" d-block w-100">
                            <div class="text-center" style="margin-top: 5%;">
                                <div style="color: white;">
                                    <div class="card" style="background-color: transparent; border-style: hidden; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                                        <h2>Our Team</h2>
                                        <br/>
                                        <br/>
                                        <br/>
                                            <Row>
                                                <img src="/images/prof.png" class="avatar" alt="architect">
                                            </Row>
                                            <Row>
                                                Prof. Jerry Gao
                                            </Row>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                        <Col>
                                            <Row>
                                                <Col>
                                                <img src="/images/chi.png" class="avatar" alt="architect">
                                                </Col>
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                <Col>
                                                    <img src="/images/jake.png" class="avatar" alt="architect">
                                                </Col>
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
                                                <Col>
                                                    <img src="/images/deep.jpg" class="avatar" alt="architect">
                                                </Col> 
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                <Col>
                                                    <img src="/images/hieu.png" class="avatar" alt="architect">
                                                </Col>   
                                            </Row>
                                            &emsp;&nbsp;
                                            <Col>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                Chi Tran
                                            </Col>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
                                            &nbsp;
                                            <Col>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                Ilsoo Kim
                                            </Col>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
                                            
                                            <Col>
                                                Deep Khajanchi
                                            </Col>
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                            <Col>
                                                Hieu Tran
                                            </Col>
                                            &emsp;&emsp;&nbsp;
                                        </Col>
                                         
                                        <br/>
                                        <br/>
                                       
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
            </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
        </div>
            <script type="text/javascript" src="/css/particles.js"></script>
            <script type="text/javascript" src="/css/app.js"></script>
    </div>
</body>
</html>
