<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/tests">
                    <i class="fas fa-vials"></i>
                    Model Tests <span class="sr-only">(current)</span>
                </a>
                <a class="nav-link" href="/datasets">
                    <i class="fas fa-book-open"></i>
                    Datasets <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item divider"></li>

            
        </ul>
    </div>
</nav>